extends layout

block content
  h1= title
  table(style='width:100%; border-collapse: collapse', border='1')
    tr
      th ID
      th Full Name
      th Email
      th Item
      th Quantity
      th Total Price
      
    each customer in data
      tr
        td= customer.id
        td= customer.firstName + ' ' + customer.lastName
        td= customer.email
        td= customer.item 
        td= customer.quantity
        td= customer.totalPrice
  br
  button(type='button' value="PIVOT" onclick=alert('pivot clicked!'))